---
import Layout from '../../layouts/Layout.astro';
import uniqueVideos from '../../scripts/video.js';
import { Image } from 'astro:assets';


import Card from '../../components/Card.astro';
import profileImage from './public/images/jam.jpg';
import atwo from './public/images/a2.jpg';
import athree from './public/images/a3.png';
import afour from './public/images/a4.png';
import afive from './public/images/a5.png';

export const prerender = true;

export function getStaticPaths() {
  return [
    { params: { username: 'dunnd' } },
    { params: { username: 'tekjones' } },
    { params: { username: 'johnglist' } },
    { params: { username: 'ryunations' } },
    { params: { username: 'alfofhiphopslam' } }, // Removed trailing space
    { params: { username: 'robertbrowniejr.' } },
    { params: { username: 'duragdibiase' } },
    { params: { username: 'hecto0157' } },
    { params: { username: 'precise' } },

  ];
}

var { username } = Astro.params;
console.log(username);

const filteredVideos = uniqueVideos.filter(
  (video) => video.username === username
);

const numVideos = filteredVideos.length;
---

<Layout title={username}>
  <div class='flex bg-mcBg pb-40'>
    <div class='flex min-w-0 flex-1 flex-col overflow-hidden'>
      <div class='relative z-0 flex flex-1 overflow-hidden'>
        <main
          class='relative z-0 flex-1 overflow-y-auto focus:outline-none xl:order-last'
        >
          <!-- Breadcrumb -->

          <article>
            <!-- Profile header -->
            <div>
              <div>
                <img
                  class='h-32 w-full object-cover lg:h-48'
                  src='https://images.unsplash.com/photo-1674889390421-fd23ba33745c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80'
                  alt=''
                />
              </div>
              <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
                <div class='-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5'>
                  <div class='flex'>
                    <Image
                      class='h-24 w-24 rounded-full ring-4 ring-hlcolor sm:h-32 sm:w-32'
                      src={username === 'dunnd'
                        ? afive
                        : username === 'tekjones'
                        ? athree
                        : username === 'johnglist'
                        ? atwo
                        : username === 'ryunations'
                        ? afour
                        : username === 'alfofhiphopslam '
                        ? atwo
                        : profileImage}
                        alt={`${username}'s profile image`}
                        width={128}
                        height={128}
                        layout='responsive'
                    />
                  </div>
                  <div
                    class='mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1'
                  >
                    <div class='mt-6 min-w-0 flex-1 sm:hidden 2xl:block'>
                      <h1 class='truncate text-2xl font-bold text-mtLight'>
                        {username}
                      </h1>
                      <h3 class='text-mt'>Tracks Dropped: {numVideos}</h3>
                    </div>
                    <div
                      class='justify-stretch mt-6 flex flex-col space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4'
                    >
                      <button class='button rounded-full' id='playbtnUser'
                        ><svg
                          xmlns='http://www.w3.org/2000/svg'
                          viewBox='0 0 24 24'
                          fill='currentColor'
                          class='w-6 h-6'
                        >
                          <path
                            fill-rule='evenodd'
                            d='M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z'
                            clip-rule='evenodd'></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class='mt-6 hidden min-w-0 flex-1 sm:block 2xl:hidden'>
                  <h1 class='truncate text-2xl font-bold text-mtLight'>
                    {username}
                  </h1>
                  <h3 class='text-mt'>Tracks Dropped: {numVideos}</h3>
                </div>
              </div>
            </div>
          </article>
          <div class='flex justify-center mt-10 mb-10'>
            <div
              class="max-w-2xl w-full mx-4 p-2 bg-[url('/images/wood.jpg')] bg-no-repeat bg-cover rounded-lg"
            >
              <div
                id='player'
                class='w-full border border-[#2c2844] rounded-2xl'
              >
              </div>
            </div>
          </div>

          <div
            class='mx-auto px-4 lg:max-w-7xl pt-8 grid grid-cols-2 gap-y-10 gap-x-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-6'
          >
            {
              filteredVideos.map((ytVideos) => (
                <Card
                  url={ytVideos.url}
                  title={ytVideos.title}
                  username={ytVideos.username}
                  channel_id={ytVideos.channel_id}
                />
              ))
            }
          </div>
        </main>
      </div>
    </div>
  </div>
</Layout>

<div id='username' data-myVariable='forprofile'></div>

<script is:inline>
  var data = document
    .getElementById('username')
    .getAttribute('data-myVariable');

  const playbtn = document.getElementById('playbtnUser');

  window.onload = (e) => {
    console.log('loaded!');
    changeVideoId(data);
  };

  playbtn.addEventListener('click', function () {
    changeVideoId(data);
  });
</script>