---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PlayerBottom from '../components/PlayerBottom.astro';
import uniqueVideos from '../scripts/video.js';
import SwiperMain from '../components/SwiperMain.astro';
import HipHop from '../components/HipHop.astro';
import House from '../components/House.astro';
import Dnb from '../components/Dnb.astro';
import UserTags from '../components/UserTags.astro';
import Header from '../components/Header.astro';
import BottomNav from '../components/BottomNav.astro';
import Genretags from '../components/Genretags.astro';
const first40 = []; // Your list of videos
const itemsPerPage = 10;

const numPages = Math.ceil(first40.length / itemsPerPage);

function paginate(items, pageNumber) {
  const startIndex = (pageNumber - 1) * itemsPerPage;
  const endIndex = startIndex + itemsPerPage;
  return items.slice(startIndex, endIndex);
}

var firstfourty = uniqueVideos.slice(0, 40);
---

<Layout title='Okizoo Homepage'>
  <main class='bg-mcBg overflow-hidden'>
    <div class='relative isolate overflow-hidden'>
      <div class='pt-1 px-1 sm:px-6 sm:py-18 lg:px-8'>
        <Header />
        <BottomNav />
      </div>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 1024 1024'
        class='absolute top-1/2 left-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2'
        aria-hidden='true'
      >
        <circle
          cx='512'
          cy='512'
          r='512'
          fill='url(#8d958450-c69f-4251-94bc-4e091a323369)'
          fill-opacity='0.7'></circle>
        <defs>
          <radialGradient
            id='8d958450-c69f-4251-94bc-4e091a323369'
            cx='0'
            cy='0'
            r='1'
            gradientUnits='userSpaceOnUse'
            gradientTransform='translate(512 512) rotate(90) scale(512)'
          >
            <stop stop-color='#171f33'></stop>
            <stop offset='1' stop-color='#111827' stop-opacity='0'></stop>
          </radialGradient>
        </defs>
      </svg>
    </div>

    <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
      <!-- Content goes here -->

      <div class=''>
        <div class='mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'>
          <h2 class='sr-only'>Products</h2>

          <div class=''>
            <SwiperMain />
          </div>

          <UserTags />
          <Genretags />

          <HipHop />
          <House />
          <Dnb />

          <div class='pt-28'>
            <div class='h-full flex items-center'>
              <button
                class='button rounded-full mr-3'
                id='playbtnone'
                onclick="changeVideoId('myDiv')"
                ><svg
                  xmlns='http://www.w3.org/2000/svg'
                  viewBox='0 0 24 24'
                  fill='currentColor'
                  class='w-6 h-6'
                >
                  <path
                    fill-rule='evenodd'
                    d='M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z'
                    clip-rule='evenodd'></path>
                </svg>
              </button>
              <div>
                <h1
                  class='text-lg md:text-2xl text-mt font-bold tracking-tight sm:text-xl'
                >
                  ENDLESS ZOO PLAYLIST
                </h1>
                <p class='hidden sm:block mr-4 text-mtLight'>
                  Get into all the cuts
                </p>
              </div>
            </div>
            <div
              class='pt-8 grid grid-cols-2 gap-y-10 gap-x-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-6'
            >
              {
                firstfourty.map((ytVideos) => (
                  <Card
                    url={ytVideos.url}
                    title={ytVideos.title}
                    username={ytVideos.username}
                    channel_id={ytVideos.channel_id}
                    heart_count={ytVideos.heart_count}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
