---
import Layout from '../layouts/Layout.astro';
import galleryData from '../../public/galleryData.js';
import { YouTube } from '@astro-community/astro-embed-youtube';
import PlayerBottom from '../components/PlayerBottom.astro';
import videos from '../../public/video.js';

// import video from '../../public/video';
// var videoId = video.map((item) => item.video_id);
// console.dir(videoId, {'maxArrayLength': null})
// import { createClient } from '@supabase/supabase-js';
// import { Client, GatewayIntentBits } from 'discord.js'; // Import the Discord library

// const client = new Client({
//   intents: [
//     GatewayIntentBits.Guilds,
//     GatewayIntentBits.GuildMessages,
//     GatewayIntentBits.MessageContent,
//     GatewayIntentBits.GuildMembers,
//   ],
// }); // Create a new Discord client

// const token = import.meta.env.DISCORD_BOT_TOKEN;
const apiKey = import.meta.env.YOUTUBE_API_KEY;

// const supabaseAdin = createClient(
//   import.meta.env.PUBLIC_SUPABASE_URL,
//   import.meta.env.SUPABASE_SERVICE_ROLE_KEY
// );

// const { data } = await supabaseAdin.from('music').select('*').order('id');

// const channelIds = [
//   '1057747211468943450',
//   '1049841438919245925',
//   '1062329322477727764',
//   '1062325851418525776',
//   '1062325992137424986',
//   '1062327975091126342',
//   '1071400000216641566',
// ];

// const processedVideos = new Set();

// client.on('ready', () => {
//   console.log(`Logged in as ${client.user.tag}!`);

//   channelIds.forEach((channelId) => {
//     const channel = client.channels.cache.get(channelId);

//     let allMessages = [];
//     let lastMessageId;
//     const fetchMessages = () => {
//       channel.messages
//         .fetch({ limit: 100, before: lastMessageId })
//         .then((messages) => {
//           allMessages = allMessages.concat(messages);
//           lastMessageId = messages.last().id;
//           if (messages.size === 100) {
//             fetchMessages();
//           } else {
//           }

//           const youtubeMessages = messages.filter((message) => {
//             return message.content.includes('youtu');
//           });

//           let youtubeVideos = [];
//           youtubeMessages.forEach(async (message) => {
//             const url = message.content.match(/https?:\/\/[^\s]+/)[0];
//             const channelId = message.channel.id;
//             const username = message.author.username;

//             const urlRegex =
//               /(?:youtube(?:-nocookie)?\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;
//             const videoId = url.match(urlRegex);

//             if (videoId && videoId[1].length === 11) {
//               const response = await fetch(
//                 `https://www.googleapis.com/youtube/v3/videos?part=snippet,statistics&id=${videoId[1]}&key=${apiKey}`
//               ).catch((error) => {
//                 console.error(
//                   `Error retrieving information from the YouTube API: ${error}`
//                 );
//               });
//               const info = await response.json();

//               if (!processedVideos.has(videoId[1])) {
//                 processedVideos.add(videoId[1]);

//                 if (info.items && info.items[0] && info.items[0].snippet) {
//                   await supabaseAdin.from('music').insert([
//                     {
//                       title: info.items[0].snippet.title,
//                       url: url,
//                       video_id: videoId[1],
//                       channel_id: channelId,
//                       username: username,
//                     },
//                   ]);

//                   youtubeVideos.push({
//                     title: info.items[0].snippet.title,
//                     url,
//                     id: videoId[1],
//                     channelId,
//                     username,
//                   });
//                 } else {
//                   console.error(
//                     'Unable to retrieve snippet information from the YouTube API'
//                   );
//                 }
//               }
//             }
//             console.log(youtubeVideos);
//           });
//         });
//     };
//     fetchMessages();
//   });
// });

// client.login(token);
---

<Layout title='Okizoo Homepage'>
  <main class='bg-black'>
    <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
      <!-- Content goes here -->

      <div class=''>
        <div
          class='mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
        >
          <h2 class='sr-only'>Products</h2>
          <div class="p-6 bg-[url('/public/images/wood.jpg')] rounded-2xl">
            <div id='player' class='w-full border border-[#2c2844] rounded-2xl'>
            </div>
          </div>

          <div
            class='pt-20 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'
          >
            {
              videos.map((card) => (
                <div class='group border-[1.5px] border-[#2c2844] p-4 rounded-2xl flex flex-col'>
                  <div class='aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray xl:aspect-w-7 xl:aspect-h-8'>
                    <YouTube
                      class='h-full w-full object-cover object-center group-hover:opacity-75'
                      id={card.url}
                    />
                  </div>
                  <h3 class='mt-4 text-lg font-bold text-gray-600 line-clamp-2'>
                    {card.title}
                  </h3>
                  <p class='mt-1 mb-8 text-sm font-medium text-gray-800'>
                    {card.username}
                  </p>
                  <div class='mt-auto '>
                    <p class='px-3 py-1 inline-block border-[1.5px] border-[#211e33] rounded-md text-sm font-medium text-gray-800'>
                      {card.channel_id === '1057747211468943450'
                        ? 'Gems'
                        : card.channel_id === '1049841438919245925'
                        ? 'Hip-Hop'
                        : card.channel_id === '1062329322477727764'
                        ? 'Beat Suite'
                        : card.channel_id === '1062325851418525776'
                        ? 'House Love'
                        : card.channel_id === '1062325992137424986'
                        ? 'Drum n Bass'
                        : card.channel_id === '1062327975091126342'
                        ? 'Turntablism'
                        : card.channel_id === '1071400000216641566'
                        ? 'Ragga/Soundclash'
                        : ''}
                    </p>
                  </div>
                </div>
              ))
            }

            <!-- More products... -->
          </div>
        </div>
      </div>
    </div>

    <PlayerBottom />
  </main>
</Layout>
