---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PlayerBottom from '../components/PlayerBottom.astro';
import uniqueVideos from '../scripts/video.js';
import SwiperMain from '../components/SwiperMain.astro';

// import { createClient } from '@supabase/supabase-js';
// import { Client, GatewayIntentBits } from 'discord.js'; // Import the Discord library

// const client = new Client({
//   intents: [
//     GatewayIntentBits.Guilds,
//     GatewayIntentBits.GuildMessages,
//     GatewayIntentBits.MessageContent,
//     GatewayIntentBits.GuildMembers,
//   ],
// }); // Create a new Discord client

// const token = import.meta.env.DISCORD_BOT_TOKEN;
// const apiKey = import.meta.env.YOUTUBE_API_KEY;

// const supabaseAdin = createClient(
//   import.meta.env.PUBLIC_SUPABASE_URL,
//   import.meta.env.SUPABASE_SERVICE_ROLE_KEY
// );

// const { data } = await supabaseAdin.from('music').select('*').order('id');

// const existingVideoIds = data.map((videoData) => videoData.video_id);

// const channelIds = [
//   '1057747211468943450',
//   '1049841438919245925',
//   '1062329322477727764',
//   '1062325851418525776',
//   '1062325992137424986',
//   '1062327975091126342',
//   '1071400000216641566',
// ];



// const processedVideos = new Set();

// client.on('ready', () => {
//   console.log(`Logged in as ${client.user.tag}!`);

//   channelIds.forEach((channelId) => {
//     const channel = client.channels.cache.get(channelId);

//     let allMessages = [];
//     let lastMessageId;
//     const fetchMessages = () => {
//       channel.messages
//         .fetch({ limit: 100, before: lastMessageId })
//         .then((messages) => {
//           allMessages = allMessages.concat(messages);
//           lastMessageId = messages.last().id;
//           if (messages.size === 100) {
//             fetchMessages();
//           } else {
//           }

//           const youtubeMessages = messages.filter((message) => {
//             return message.content.includes('youtu');
//           });

//           let youtubeVideos = [];

//           youtubeMessages.forEach(async (message) => {
//             const match = message.content.match(/https?:\/\/[^\s]+/);
//             if (match) {
//               const url = match[0];
//               const urlRegex =
//                 /(?:youtube(?:-nocookie)?\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;
//               const videoId = url.match(urlRegex);

//               console.log('videoId before', videoId);

//               if (videoId && videoId[1].length === 11) {
//                 const channelId = message.channel.id;
//                 const username = message.author.username;
//                 const timestamp = message.createdTimestamp;
//                 const messageTimestamp = new Date(timestamp);

//                 const response = await fetch(
//                   `https://www.googleapis.com/youtube/v3/videos?part=snippet,statistics&id=${videoId[1]}&key=${apiKey}`
//                 ).catch((error) => {
//                   console.error(
//                     `Error retrieving information from the YouTube API: ${error}`
//                   );
//                 });
//                 const info = await response.json();

//                 if (!existingVideoIds.includes(videoId[1]) && !processedVideos.has(videoId[1])) {
//                   processedVideos.add(videoId[1]);

//                   if (info.items && info.items[0] && info.items[0].snippet) {
//                     await supabaseAdin.from('music').insert([
//                       {
//                         title: info.items[0].snippet.title,
//                         url: url,
//                         video_id: videoId[1],
//                         channel_id: channelId,
//                         username: username,
//                         message_timestamp: messageTimestamp,
//                       },
//                     ]);

//                     youtubeVideos.push({
//                       title: info.items[0].snippet.title,
//                       url,
//                       id: videoId[1],
//                       channelId,
//                       username,
//                       messageTimestamp,
//                     });
//                   } else {
//                     console.error(
//                       'Unable to retrieve snippet information from the YouTube API'
//                     );
//                   }
//                 }
//               }
//             } else {
//               console.error('No URL found in message content');
//             }
//             console.log(youtubeVideos);
//           });
//         });
//     };
//     fetchMessages();
//   });
// });

// client.login(token);
---

<Layout title='Okizoo Homepage'>
  <main class='bg-black'>
    <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
      <!-- Content goes here -->

      <div class=''>
        <div
          class='mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
        >
          <h2 class='sr-only'>Products</h2>

          <SwiperMain />
          <div
            class='pt-20 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'
          >
            {
              uniqueVideos.map((ytVideos) => (
                <Card
                  url={ytVideos.url}
                  title={ytVideos.title}
                  username={ytVideos.username}
                  channel_id={ytVideos.channel_id}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <PlayerBottom />
  </main>
</Layout>
